@(contacts: List[Contact])

@Main("Home") {
<h1>Contacts</h1>
   <div class="container">
     <table class="table table-striped">
<tr><th>First</th><th>Last</th><th>Phone</th></tr>
@for(contact <- contacts){
<tr><td>@contact.getFirstName()</td>
<td>@contact.getLastName()</td>
<td>@contact.getTelephone()</td>
<td><a href="@routes.Application.newContact(contact.getId())"><button type="button" class="btn btn-default">Edit</button></a></td>
<td><a href="@routes.Application.deleteContact(contact.getId())"><button type="button" class="btn btn-default">Delete</button></a></td>

</tr>
}

</table>

   </div>
}
